<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/carousel.css" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://kit.fontawesome.com/f85002145c.css"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <title>KaisenWeb</title>
  </head>

  <body>
    <header>
      <section id="nav">
        <nav class="navbar navbar-expand-lg sticky-top">
          <div class="container-fluid">
            <a class="navbar-brand" href="#home">
              <img
                class="d-inline-block align-text-top pt-1 img-fluid"
                src="assets/image/logo/logo.png"
                alt=""
                width="80"
                height="60"
              />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"
                ><i class="fa-solid fa-bars"></i>
              </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul id="navLink" class="navbar-nav">
                <li class="nav-item">
                  <a
                    class="nav-link matter home active"
                    aria-current="page"
                    href="#home"
                  >
                    Home</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link aboutme matter" href="#aboutme">
                    About Me</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link project matter" href="#project">
                    Project</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link contact matter" href="#contact">
                    Contact
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </section>
    </header>
    <div class="container-fluid">
      <div class="container">
        <div class="row justify-content-start align-items-center pe-3">
          <div class="col-6 text-center">
            <noscript>
              <style type="text/css">
                .pagecontainer {
                  display: none;
                }
              </style>
              <div class="noscriptmsg">
                You don't have javascript enabled. Good luck with that.
              </div>
            </noscript>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="justify-content-center align-items-start text-center">
        <div class="col-md-auto col-auto col-lg-auto">
          <h1 class="pt-5">Popolari</h1>
        </div>
      </div>
      <div class="container container-c">
        <button type="button" id="moveLeft" class="btn-nav">ᐊ</button>

        <div class="slider" id="mySlider">
          <div class="movie" id="main" th:each="poster : ${poster}">
            <img
              class="img-mb"
              th:src="@{${'https://image.tmdb.org/t/p/w220_and_h330_face/' + poster}}"
              alt=""
              srcset=""
            />
          </div>
        </div>
        <button type="button" id="moveRight" class="btn-nav">ᐅ</button>
      </div>
      <div class="justify-content-center align-items-start text-center">
        <div class="col-md-auto col-auto col-lg-auto">
          <h1 class="pt-5">Di tendenza</h1>
        </div>
      </div>
      <div class="container container-c">
        <button type="button" id="moveLeft" class="btn-nav">ᐊ</button>

        <div class="slider" id="mySlider">
          <div class="movie" id="movie1">
            <img
              class="img-mb"
              src="https://images.unsplash.com/photo-1585951237318-9ea5e175b891?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
              alt=""
              srcset=""
            />
            <!--<div class="description">
              <div class="description__buttons-container">
                <div class="description__button">
                  <i class="fas fa-play"></i>
                </div>
                <div class="description__button">
                  <i class="fas fa-plus"></i>
                </div>
                <div class="description__button">
                  <i class="fas fa-thumbs-up"></i>
                </div>
                <div class="description__button">
                  <i class="fas fa-thumbs-down"></i>
                </div>
                <div class="description__button">
                  <i class="fas fa-chevron-down"></i>
                </div>
              </div>
              <div class="description__text-container">
                <br /><br />
                <span>Explosive</span>
                <span>&middot;</span>
                <span>Exciting</span>
                <span>&middot;</span>
                <span>Family</span>
              </div>
            </div>-->
          </div>
        </div>
        <button type="button" id="moveRight" class="btn-nav">ᐅ</button>
      </div>
    </div>

    <!--<div class="container-fluid">
      <div class="row justify-content-center align-items-center text-center">
        <div class="col-12">
          <div class="container container-c">
            
            <button type="button" id="moveLeft" class="btn-nav">ᐊ</button>
             <div class="container-indicators">
              <div class="indicator active" data-index="0"></div>
              <div class="indicator" data-index="1"></div>
              <div class="indicator" data-index="2"></div>
            </div>
            <div class="slider" id="mySlider">
              <div class="movie" id="movie0">
                <img
                  class="img-mb"
                  src="https://images.unsplash.com/photo-1585951237318-9ea5e175b891?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                  alt=""
                  srcset=""
                />
                <div class="description">
                  <div class="description__buttons-container">
                    <div class="description__button">
                      <i class="fas fa-play"></i>
                    </div>
                    <div class="description__button">
                      <i class="fas fa-plus"></i>
                    </div>
                    <div class="description__button">
                      <i class="fas fa-thumbs-up"></i>
                    </div>
                    <div class="description__button">
                      <i class="fas fa-thumbs-down"></i>
                    </div>
                    <div class="description__button">
                      <i class="fas fa-chevron-down"></i>
                    </div>
                  </div>
                  <div class="description__text-container">
                    <br /><br />
                    <span>Explosive</span>
                    <span>&middot;</span>
                    <span>Exciting</span>
                    <span>&middot;</span>
                    <span>Family</span>
                  </div>
                </div>
              </div>
            </div>
            <button type="button" id="moveRight" class="btn-nav">ᐅ</button>
          </div>
        </div>
      </div>
    </div>-->
    <div class="fix-footer"></div>
    <script src="assets/js/footer.js" type="text/javascript" defer></script>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/country-states.js"></script>
    <script
      src="https://kit.fontawesome.com/f85002145c.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
