:root {
  --light: #ececec;
  --teal: #9fd3c7;
  --red: rgb(197, 14, 14);
  --redA: rgb(255, 0, 0);
  --blue: #3264a1;
  --ocean: #0956fc;
  --bg: rgb(0, 0, 0);
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
* {
  scroll-margin-top: 400px !important;
}
body {
  transition: all 1s;
  background-color: var(--bg) !important;
}
.hidden {
  display: none !important;
}
.sign {
  color: var(--redA) !important;
  font-family: Poppins !important;
  font-weight: 400 !important;
}
.matter {
  color: var(--red) !important;
  font-family: Poppins !important;
  font-weight: 200 !important;
}
label {
  color: var(--red) !important;
  font-family: Poppins !important;
  font-weight: 400 !important;
  font-size: 22px !important;
}
label.form-check-label {
  font-weight: 200 !important;
  font-size: 15px !important;
}
.nav-link {
  color: var(--light) !important;
  font-family: Poppins !important;
  font-weight: 400 !important;
  font-size: 18px !important;
}
.nav-link:hover {
  color: var(--red) !important;
}

input:focus {
  box-shadow: none !important;
}
select:focus {
  box-shadow: none !important;
}
.navbar-nav {
  margin-left: auto;
  padding-right: 120px;
}
.nav-item {
  padding-right: 50px;
}
.navbar-brand {
  padding-left: 30px;
}
.navbar-toggler {
  margin-left: auto !important;
}
.fa-bars {
  color: var(--red) !important;
  font-size: 30px !important;
}
.btn.btn-primary {
  background-color: var(--red) !important;
  border-color: var(--red) !important;
}
.btn.btn-primary:hover {
  background-color: var(--redA) !important;
  border-color: var(--redA) !important;
}
.btn-outline-dark {
  background-color: var(--red) !important;
  border-color: var(--red) !important;
  color: var(--light) !important;
}
.btn-outline-dark:hover {
  background-color: var(--redA) !important;
  border-color: var(--redA) !important;
  color: var(--light) !important;
}
.navbar {
  background-color: black !important;
}
.nav {
  display: block !important;
}
.or {
  color: var(--light) !important;
  font-family: Poppins !important;
  font-weight: 400 !important;
  font-size: 18px !important;
}
a.no-dec {
  text-decoration: none !important;
}

footer {
  background-color: black !important;

  /*position: relative !important;*/
}
div.fix-footer ~ footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
@media (min-width: 600px) {
  div.fix-footer-si ~ footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .mf {
    padding-top: 3rem !important;
  }
}
.line {
  display: inline !important;
  color: var(--light) !important;
}
.noscriptmsg {
  color: var(--light) !important;
}
.card {
  display: inline-block !important;
}
.carousel-control-next {
  color: var(--redA) !important;
}
.category {
  color: var(--light) !important;
  font-family: Poppins !important;
  font-weight: 600 !important;
  font-size: 30px !important;
  margin-bottom: 0 !important;
}
@media (max-width: 600px) {
  .category {
    color: var(--light) !important;
    font-family: Poppins !important;
    font-weight: 600 !important;
    font-size: 20px !important;
  }
}
.btn-err {
  font-size: 30px !important;
}
@media (max-width: 600px) {
  .btn-err {
    font-size: 20px !important;
  }
}
.back-err {
  color: var(--light) !important;
  font-family: Poppins !important;
  font-weight: 300 !important;
  font-size: 15px !important;
  margin-bottom: 0 !important;
}
@media (max-width: 600px) {
  .d-inline-block {
    height: 2rem !important;
    width: 2.9rem !important;
  }
}
.fs-5 {
  position: absolute !important;
}
.tr {
  padding-top: 0 !important;
}
.sign-trailer {
  color: var(--light) !important;
  font-family: Poppins !important;
  font-weight: 400 !important;
}
.active {
  color: var(--redA) !important;
  font-family: Poppins !important;
  font-weight: 400 !important;
}
.modal-header {
  background-color: black;
  border-bottom: black !important;
}
.modal-content {
  background-color: black !important;
  border: black !important;
}
.btn-close {
  background-color: var(--redA) !important;
}
.sl5 {
  padding-bottom: 0 !important;
}
h1.matter {
  font-weight: 600 !important;
}
h1.matter:hover {
  color: var(--redA) !important;
}
.mt-4.mt-t-mb {
  margin-top: 3.5rem !important;
}
.pippo {
  background-color: red !important;
  height: 400px !important;
}

@media (min-width: 1201px) {
  .bg-parallax {
    background-image: url(https://image.tmdb.org/t/p/w1920_and_h800_multi_faces);
    background-color: black;
    background-attachment: fixed;
  }
  .bg-parallaxDet {
    background-image: url(https://image.tmdb.org/t/p/w880_and_h600_bestv2);
    background-color: black;
    background-attachment: scroll !important;
  }
  .full-vh {
    height: calc(var(--vh, 1vh) * 70);
  }
  .bg-overlay-dark::before {
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    background-attachment: fixed;
  }
  .bg-section {
    width: 100%;
    background-size: cover;
    background-position: center, center;
    z-index: 1;
    overflow: hidden;
  }
  .bg-overlay::before {
    content: "";
    overflow: hidden;
    display: inline-block;
    min-height: 83%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .full-vh {
    height: 300px;
  }
  .bg-parallax {
    background-image: url(https://image.tmdb.org/t/p/w880_and_h600_bestv2);
    background-color: black;
    background-attachment: scroll !important;
  }
  .bg-parallaxDet {
    background-image: url(https://image.tmdb.org/t/p/w880_and_h600_bestv2);
    background-color: black;
    background-attachment: scroll !important;
  }
  .bg-section {
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center, center;
    z-index: 1;
    overflow: hidden;
  }
  .bg-overlay-dark::before {
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    background-attachment: fixed;
  }
  .bg-overlay::before {
    content: "";
    overflow: hidden;
    display: inline-block;
    min-height: 396px;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
  }
}
@media (max-width: 1200px) and (min-width: 601px) {
  .full-vh {
    height: 600px;
  }
  .bg-parallax {
    background-image: url(https://image.tmdb.org/t/p/w880_and_h600_bestv2);
    background-color: black;
    background-attachment: scroll !important;
  }
  .bg-parallaxDet {
    background-image: url(https://image.tmdb.org/t/p/w880_and_h600_bestv2);
    background-color: black;
    background-attachment: scroll !important;
  }
  .bg-section {
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center, center;
    z-index: 1;
    overflow: hidden;
  }
  .bg-overlay-dark::before {
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    background-attachment: fixed;
  }
  .bg-overlay::before {
    content: "";
    overflow: hidden;
    display: inline-block;
    min-height: 701px;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
  }
}

.fix {
  /*position: fixed;*/
}
.expl {
  color: var(--redA) !important;
  font-family: Poppins !important;
  font-weight: 800 !important;
  font-size: 40px !important;
}
.sub-expl {
  color: var(--light) !important;
  font-family: Poppins !important;
  font-weight: 600 !important;
  font-size: 30px !important;
}
.fa-sharp {
  color: var(--redA) !important;
  font-size: 20px !important;
  font-weight: 800 !important;
}
#mySliderPopolari {
  padding-bottom: 0rem !important;
}
.d-flex input::placeholder {
  font-size: 15px !important;
  font-weight: 500 !important;
  color: var(--redA) !important;
  text-transform: capitalize !important;
  width: fit-content !important;
}
.d-flex input {
  font-size: 20px !important;
  font-weight: 600 !important;
  text-transform: capitalize;
  /*color: var(--ocean) !important;*/
}
.card-head {
  background-color: var(--redA) !important;
  border-radius: 0.375rem;
}
.search-title {
  color: var(--light) !important;
  font-family: Poppins !important;
  font-weight: 800 !important;
  font-size: 20px !important;
}
.card.search-card {
  --bs-card-border-color: none;
  position: fixed;
}
.list-group-item.active {
  color: var(--redA) !important;
  font-family: Poppins !important;
  font-weight: 400 !important;
  background-color: white !important;
  border-color: #dee2e6 !important;

  font-family: Poppins !important;
  font-weight: 600 !important;
  font-size: 15px !important;
}
.list-group-item.featured {
  background-color: rgba(0, 0, 0, 0.08) !important;
}
span.bg-secondary {
  float: right;
}
footer {
}
body {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
article {
  flex: 1;
}
.card-res {
  width: 9.5rem;
  height: var(--movie-height);
  display: inline-block;
  position: relative;
  color: white;
  padding: 0 2px;
  font-size: 0.8rem;
}
@media (min-width: 1000px) {
  .card-res:nth-of-type(1) {
    /*margin-left: var(--arrow-width);*/
  }
}
@media only screen and (max-width: 500px) {
  .card-res {
    /* width: auto !important;*/
  }
}
.card-res img {
  object-fit: cover;
  height: 100%;
  /*width: 100%;*/
  border-radius: 10px;
}
.main-card {
  background-color: black !important;
}
.main-card > div.row > div.col-10 > div.card-body > h5.card-title {
  color: var(--redA) !important;
  font-family: Poppins !important;
  font-weight: 800 !important;
  font-size: 20px !important;
}
.main-card > div.row > div.col-10 > div.card-body > p.card-text {
  color: var(--light) !important;
  font-family: Poppins !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  overflow: hidden;
  line-height: 1.2rem;
  max-height: 12rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
}
p.card-text > small.text-muted {
  color: #abafb3 !important;
}
.title-s {
  text-decoration: none !important;
  color: var(--redA) !important;
}
nav.pag {
  /*display: flex;*/
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  div.col-auto > ul.nav {
    display: none !important;
  }
}
@media only screen and (max-width: 500px) {
  div.card.search-card {
    /*width: 8rem !important;*/
    display: none !important;
  }
  .card.search-card {
    position: relative !important ;
  }
  .card-desc {
    /*display: none !important;*/
  }
  .main-card > div.row > div.col-10 > div.card-body > p.card-text {
    color: var(--light) !important;
    font-family: Poppins !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    overflow: hidden;
    line-height: 1rem;
    max-height: 12rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
  }
  .card.main-card {
    /*height: 10% !important;*/
    height: 3.8% !important;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 700px) {
  div.card.search-card {
    width: 14rem !important;
  }
}
.flex-res {
  display: flex;
  flex-wrap: wrap;
}
.flex-pag {
  display: flex;
  flex-wrap: wrap;
}
/*.mb-fix {
  position: fixed;
  z-index: 1020;
  top: 0;
}*/
ul.nav {
  display: flex !important;
  padding: 1rem;
}
ul.nav > .list-group-item {
  padding-right: 0.5rem !important;
}
ul.nav > li > span.badge {
  margin-left: 0.5rem !important;
}
.mb-w {
  color: var(--light) !important;
  font-family: Poppins !important;
  font-weight: 600 !important;

  font-size: 15px !important;
}
nav.pag .pagination .page-item.active {
  --bs-pagination-active-bg: var(--redA) !important;
  --bs-pagination-active-border-color: var(--redA) !important;
}
.pagination {
  --bs-pagination-color: var(--red) !important;
  --bs-pagination-hover-color: var(--redA) !important;
}
.render-card {
  height: min-content !important;
}
.card-title {
  line-height: 1.2rem;
}
.over {
  z-index: 200;
}
@media (min-width: 1200px) {
  .details.card-res {
    height: 100% !important;
  }
  .card-res img {
    object-fit: cover;
    height: 75.7%;
    /* width: 100%; */
    border-radius: 10px;
  }
}
@media (max-width: 1199px) and (min-width: 576px) {
  .card-res {
    height: 100% !important;
  }
}
h1.details.title {
  color: var(--light) !important;
  font-family: Poppins !important;
  font-weight: 600 !important;
}
@media (max-width: 510px) {
  h1.details.title {
    font-size: 14px !important;
  }
  p.details.inline {
    font-size: 10px;
  }
  span.bg-secondary {
    margin-top: 8px;
  }
  p.details.action i {
    font-size: 20px !important;
  }
  ul li {
    float: left;
    list-style: none;
    padding: 0 5px !important;
  }
  p.details.action {
    width: 30px !important;
    height: 20px !important;
    margin-top: 0.5rem !important;
  }
  h1 {
    margin-bottom: 0rem !important;
  }
}
@media (max-width: 767px) and (min-width: 511px) {
  h1.details.title {
    font-size: 18px !important;
  }
  p.details.inline {
    font-size: 13px;
  }
  span.bg-secondary {
    margin-top: 5px;
  }
  p.details.action i {
    font-size: 30px !important;
  }
  ul li {
    float: left;
    list-style: none;
    padding: 0 5px !important;
  }
  p.details.action {
    margin-top: 1rem !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h1.details.title {
    font-size: 2rem !important;
  }
}
@media (min-width: 992px) {
  h1.details.title {
    font-size: 2.2rem !important;
  }
}
@media only screen and (min-width: 450px) and (max-width: 575px) {
  .img-mb {
    height: 100% !important;
  }
}
p.details {
  color: var(--light) !important;
  font-family: Poppins !important;
  font-weight: 400 !important;
}
p.details.inline {
  display: inline !important;
}
span.bg-secondary {
  float: left;
}
p.details.action {
  width: 40px;
  height: 50px;
  margin-top: 2rem;
}
p.details.action i {
  font-size: 40px;
}
ul {
  list-style-type: none;
  padding-left: 0 !important;
}
ul li {
  float: left;
  list-style: none;
  padding: 0 20px;
}
.fa-heart {
  color: var(--redA) !important;
}
.fa-bookmark {
  color: var(--ocean) !important;
}
.fa-star {
  color: rgb(255, 217, 3) !important;
}
@media (min-width: 992px) {
  p.details.tab {
    padding-top: 5.2rem !important;
    font-weight: 800 !important;
    color: #a39e9e !important;
    font-size: 18px;
  }
}
p.details.desc {
  font-weight: 600 !important;
  color: var(--light) !important;
  font-size: 16px;
}

@media (min-width: 300px) and (max-width: 449px) {
  p.lg {
    display: none !important;
  }
  p.details.tab.mb {
    padding-top: 0rem !important;
  }
  p.details.tab {
    margin-bottom: 0rem !important;
    font-weight: 800 !important;
    color: #a39e9e !important;
    font-size: 14px;
  }
  p.details.desc {
    font-weight: 600 !important;
    color: var(--light) !important;
    font-size: 12px;
  }
  .details.fix {
    height: 140px;
  }
  .details.full-vh {
    height: fit-content;
  }
  .details.bg-overlay::before {
    min-height: 0px !important;
  }
}
@media (min-width: 1200px) {
  p.mb {
    display: none !important;
  }
}
@media (min-width: 450px) and (max-width: 575px) {
  p.lg {
    display: none !important;
  }
  p.details.tab.mb {
    padding-top: 0rem !important;
  }
  p.details.tab {
    margin-bottom: 0rem !important;
    font-weight: 800 !important;
    color: #a39e9e !important;
    font-size: 14px;
  }
  p.details.desc {
    font-weight: 600 !important;
    color: var(--light) !important;
    font-size: 12px;
  }
  .details.fix {
    height: 205px;
  }
  .details.full-vh {
    height: fit-content;
  }
  .details.bg-overlay::before {
    min-height: 0px !important;
  }
}
@media (min-width: 576px) and (max-width: 1199px) {
  p.lg {
    display: none !important;
  }
  p.details.tab.mb {
    padding-top: 0rem !important;
  }
  p.details.tab {
    margin-bottom: 0rem !important;
    font-weight: 800 !important;
    color: #a39e9e !important;
    font-size: 14px;
  }
  p.details.desc {
    font-weight: 600 !important;
    color: var(--light) !important;
    font-size: 12px;
  }
  .details.fix {
    height: 268px;
  }
  .details.full-vh {
    height: fit-content;
  }
  .details.bg-overlay::before {
    min-height: 0px !important;
  }
}
@media (min-width: 1200px) {
  .details.full-vh {
    height: fit-content;
  }
}
